{% extends '@AdminApp/base.html.twig' %}

{% set title = 'Smlouvy' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{title}}</h1>
            <div class="card-header-actions">
                <a href="{{ path('adminApp.insuranceContract.create') }}" class=" button action-create">
                    Přidat
                </a>
            </div>
        </div>
        <div class="card-body">
            {% if contracts.hasItems() %}
                <table class="data-table">
                    <tr>
                        <th>Číslo</th>
                        <th>Klient</th>
                        <th>Typ</th>
                        <th>Počátek</th>
                        <th>Cena</th>
                        <th>Provize</th>
                        <th>Partner</th>
                        <th>Akce</th>
                    </tr>
                    {% for contract in contracts.getItems() %}
                        <tr>
                            <td>{{ contract.getContractNumber() }}</td>
                            <td>{{ contract.getCustomer().getName() }}</td>
                            <td>{{ contract.getInsuranceType().getName() }}</td>
                            <td>{{ contract.getStart() | date('j. n. Y') }}</td>
                            <td>{{ contract.getPrice() }}</td>
                            <td>{{ contract.getComission() }}</td>
                            <td>{{ contract.getInsurer().getName() }}</td>
                            <td>
                                <a href="{{ path('adminApp.insuranceContract.detail', {
                                    'id': contract.getId()
                                }) }}">Detail</a>
                                <a href="{{ path('adminApp.insuranceContract.edit', {
                                    'id': contract.getId()
                                }) }}" class="edit-link">Upravit</a>
                                <a href="{{ path('adminApp.insuredEvent.create', {
                                    'contractId': contract.getId()
                                }) }}" class="edit-link">Pojistná událost</a>
                                <a href="{{ path('adminApp.insuranceContract.delete', {
                                    'id': contract.getId()
                                }) }}" class="delete-link action-delete">Smazat</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="notice">Žádná smlouva nebyla nalezena.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/adminApp.js') }}" type="text/javascript"></script>
{% endblock %}
