{% extends '@AdminApp/base.html.twig' %}

{% set title = "Detail smlouvy" %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <a href="{{goBackLink}}" class="button go-back-link" title="zpět">&lt;</a>
            <h1 class="card-title">{{ title }}</h1>
        </div>
        <div class="card-body">
            <table>
                <tr>
                    <th>Číslo</th>
                    <td>{{ contract.getContractNumber() }}</td>
                </tr>
                <tr>
                    <th>Klient</th>
                    <td><a href="{{ path('adminApp.customer.detail', {
                            'id': contract.getCustomer().getId()
                        }) }}">{{ contract.getCustomer().getName() }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Typ</th>
                    <td>{{ contract.getInsuranceType().getName() }}</td>
                </tr>
                <tr>
                    <th>Doba trvání</th>
                    <td>
                        Počátek: {{ contract.getStart() | date('j. n. Y') }}
                        {% if contract.hasEnd() %}
                            <br>Konec: {{ contract.getEnd() | date('j. n. Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Automatická prolongace</th>
                    <td>{% if contract.isRecurring() %}
                            Ano
                        {% else %}
                            Ne
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Cena</th>
                    <td>{{ contract.getPrice() }}</td>
                </tr>
                <tr>
                    <th>Provize</th>
                    <td>{{ contract.getComission() }}</td>
                </tr>
                <tr>
                    <th>Frekvence platby</th>
                    <td>{{ contract.getPaymentFrequency() | transEnum }}</td>
                </tr>
                <tr>
                    <th>Partner (pojistitel)</th>
                    <td>{{ contract.getInsurer().getName() }}</td>
                </tr>
                {% if contract.getNote() is not null %}
                    <tr>
                        <th>Poznámka</th>
                        <td>{{ contract.getNote() | nl2br }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
