{% extends '@AdminApp/base.html.twig' %}

{% set title = 'Typy smluv' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{title}}</h1>
            <div class="card-header-actions">
                <a href="{{ path('adminApp.insuranceType.create') }}" class=" button action-create">
                    Přidat
                </a>
            </div>
        </div>
        <div class="card-body">
            {% if insuranceTypes.hasItems() %}
                <table class="data-table">
                    <tr>
                        <th>Jméno</th>
                        <th>Provize</th>
                        <th>Akce</th>
                    </tr>
                    {% for insuranceType in insuranceTypes.getItems() %}
                        <tr>
                            <td>{{ insuranceType.getName() }}</td>
                            <td>{{ insuranceType.getComission() }}</td>
                            <td>
                                <a href="{{ path('adminApp.insuranceType.edit', {
                                    'id': insuranceType.getId()
                                }) }}" class="edit-link">Upravit</a>
                                <a href="{{ path('adminApp.insuranceType.delete', {
                                    'id': insuranceType.getId()
                                }) }}" class="delete-link action-delete">Smazat</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="notice">Žádný typ smlouvy nebyl nalezen.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/adminApp.js') }}" type="text/javascript"></script>
{% endblock %}
