@import "../variables/variables";

.button {
  border-radius: $default-border-radius;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-weight: bold;
  line-height: $button-line-height;
  padding: 0 $base-padding/2;
  text-decoration: none;
}

.data-table {
  border-spacing: 0;
  width: 100%;

  td,
  th {
    border-bottom: 1px solid $light-grey;
    line-height: $table-line-height;
    text-align: left;
  }

  td:first-of-type,
  th:first-of-type {
    padding-left: $base-padding;
  }

  td:last-of-type,
  th:last-of-type {
    padding-right: $base-padding;
  }

  tr:last-of-type td {
    border-bottom: none;
  }
}
