{% extends '@AdminApp/base.html.twig' %}

{% set title = "Klient#{customer.getName()}" %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <a href="{{goBackLink}}" class="button go-back-link" title="zpět">&lt;</a>
            <h1 class="card-title">{{ title }}</h1>
        </div>
        <div class="card-body">
            <table>
                <tr>
                    <th>Jméno</th>
                    <td>{{ customer.getName() }}</td>
                </tr>
                <tr>
                    <th>IČ / RČ</th>
                    <td>{{ customer.getIdentificationNumber() }}</td>
                </tr>
                {% if customer.getCustomerType() is not null %}
                    <tr>
                        <th>Typ klienta</th>
                        <td>{{ customer.getCustomerType() | transEnum }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Adresa</th>
                    <td>{{ customer.getAddress() | nl2br }}</td>
                </tr>
                <tr>
                    <th>Korespondenční adresa</th>
                    <td>{{ customer.getDeliveryAddress() | nl2br }}</td>
                </tr>
                <tr>
                    <th>Správce</th>
                    <td>{{ customer.getUser().getName() }}</td>
                </tr>
            </table>

            <h3>Primární kontakt</h3>
            {% set primaryContact = customer.getContactPersonPrimary() %}
            <table>
                {% if primaryContact.hasName() %}
                    <tr>
                        <th>Jméno</th>
                        <td>{{ primaryContact.getName() }}</td>
                    </tr>
                {% endif %}
                {% if primaryContact.hasEmail() %}
                    <tr>
                        <th>E-mail (sem se posílá trigger mail)</th>
                        <td>{{ primaryContact.getEmail() }}</td>
                    </tr>
                {% endif %}
                {% if primaryContact.hasPhone() %}
                    <tr>
                        <th>Telefon</th>
                        <td>{{ primaryContact.getPhone() }}</td>
                    </tr>
                {% endif %}
            </table>

            <h3>Sekundární kontakt</h3>
            {% set secondaryContact = customer.getContactPersonSecondary() %}
            <table>
                {% if secondaryContact.hasName() %}
                    <tr>
                        <th>Jméno</th>
                        <td>{{ secondaryContact.getName() }}</td>
                    </tr>
                {% endif %}
                {% if secondaryContact.hasEmail() %}
                    <tr>
                        <th>E-mail</th>
                        <td>{{ secondaryContact.getEmail() }}</td>
                    </tr>
                {% endif %}
                {% if secondaryContact.hasPhone() %}
                    <tr>
                        <th>Telefon</th>
                        <td>{{ secondaryContact.getPhone() }}</td>
                    </tr>
                {% endif %}
            </table>
            <h4>Poznámka</h4>
            <p>
                {{ customer.getNote() | nl2br }}
            </p>
        </div>
    </div>
{% endblock %}
