{% extends '@AdminApp/base.html.twig' %}

{% set title = 'Klienti' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{title}}</h1>
            <div class="card-header-actions">
                <a href="{{ path('adminApp.customer.create') }}" class=" button action-create">
                    Nový klient
                </a>
            </div>
        </div>
        <div class="card-body">
            {% if customers.hasItems() %}
                <table class="data-table">
                    <tr>
                        <th>Jméno</th>
                        <th>Akce</th>
                    </tr>
                    {% for customer in customers.getItems() %}
                        <tr>
                            <td>
                                <a href="{{ path('adminApp.customer.detail', {
                                    'id': customer.getId()
                                }) }}" class="detail-link">{{ customer.getName() }}</a>
                            </td>
                            <td>
                                <a href="{{ path('adminApp.customer.edit', {
                                    'id': customer.getId()
                                }) }}" class="edit-link">Upravit</a>
                                <a href="{{ path('adminApp.customer.delete', {
                                    'id': customer.getId()
                                }) }}" class="delete-link action-delete">Smazat</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="notice">Žádný klient nebyl nalezen</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/adminApp.js') }}" type="text/javascript"></script>
{% endblock %}

