@import "../variables/variables";

.header-bar {
  background-color: $dark-orange;
  box-shadow:
    0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: flex-end;

  .header-bar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: $base-padding/4;
  }

  .menu-item > a {
    border-radius: $menu-item-border-radius;
    color: $inverse-text-color;
    display: block;
    line-height: $button-line-height;
    padding: 0 $base-padding/2;
    text-decoration: none;
    transition: background-color $transition-duration;

    &:hover {
      background-color: darken($dark-orange, 5%);
    }
  }
}
