@import "../variables/variables";

.card {
  background-color: $card-background-color;
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-top: $base-padding;
}

.card-header {
  background-color: $dark-orange;
  color: $inverse-text-color;
  padding: $base-padding/4 $base-padding/2;

  .card-title {
    display: inline-block;
    font-size: $larger-font-size;
    font-weight: normal;
  }

  .button {
    background-color: $white;
    color: $text-color;
  }
}

.card-header-actions {
  align-items: center;
  display: flex;
  float: right;
}
