{% extends '@AdminApp/base.html.twig' %}

{% set title = 'Partneři (pojistitelé)' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{title}}</h1>
            <div class="card-header-actions">
                <a href="{{ path('adminApp.insurer.create') }}" class=" button action-create">
                    Přidat
                </a>
            </div>
        </div>
        <div class="card-body">
            {% if insurers.hasItems() %}
                <table class="data-table">
                    <tr>
                        <th>Jméno</th>
                        <th>Akce</th>
                    </tr>
                    {% for insurer in insurers.getItems() %}
                        <tr>
                            <td>{{ insurer.getName() }}</td>
                            <td>
                                <a href="{{ path('adminApp.insurer.edit', {
                                    'id': insurer.getId()
                                }) }}" class="edit-link">Upravit</a>
                                <a href="{{ path('adminApp.insurer.delete', {
                                    'id': insurer.getId()
                                }) }}" class="delete-link action-delete">Smazat</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="notice">Žádný partner (pojistitel) nebyl nalezen.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/adminApp.js') }}" type="text/javascript"></script>
{% endblock %}
