<div class="header-bar">
     <ul class="header-bar-menu">
          <li class="menu-item"><a href="#">Kalendář</a></li>
          <li class="menu-item"><a href="{{ path('adminApp.customer.list') }}">Klienti</a></li>
          <li class="menu-item"><a href="{{ path('adminApp.insuranceContract.list') }}">Smlouvy</a></li>
          <li class="menu-item"><a href="{{ path('adminApp.insuredEvent.list') }}">Pojistné události</a></li>
          <li class="menu-item"><a href="{{ path('adminApp.insurer.list') }}">Partneři</a></li>
          <li class="menu-item"><a href="{{ path('adminApp.insuranceType.list') }}">Typy smluv</a></li>
          <li class="menu-item"><a href="{{ path('adminApp.user.list') }}">Uživatelé</a></li>
     </ul>
     <ul class="header-bar-menu">
          <li class="menu-item"><a href="#" class="user menu-item">Odhlásit se</a></li>
     </ul>
</div>
