{% extends '@AdminApp/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <a href="{{goBackLink}}" class="button go-back-link" title="zpět">&lt;</a>
            <h1 class="card-title">{{title}}</h1>
        </div>

        <div class="card-body form-container">
            {{ form(userForm) }}
        </div>
    </div>
{% endblock %}


