<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }} | CRM Finanční blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/admin-app.css') }}">
</head>
<body>
{% include '@AdminApp/parts/header-bar.html.twig' %}
<div class="body-container">
    {% include '@AdminApp/parts/flash-messages.html.twig' %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
