{% extends '@AdminApp/base.html.twig' %}

{% set title = "Detail pojistné události" %}

{% block body %}
<div class="card">
    <div class="card-header">
        <a href="{{goBackLink}}" class="button go-back-link" title="zpět">&lt;</a>
        <h1 class="card-title">{{ title }}</h1>
    </div>
    <div class="card-body">
        <table>
            <tr>
                <th>Datum</th>
                <td>
                    {{ insuredEvent.getEventDate() | date('j. n. Y') }}
                </td>
            </tr>
            <tr>
                <th>Číslo</th>
                <td>
                    {{ insuredEvent.getIdentifier() }}
                </td>
            </tr>
            <tr>
                <th>Klient</th>
                <td>
                    <a href="{{ path('adminApp.customer.detail', {
                        'id': insuredEvent.getContract().getCustomer().getId()
                    }) }}">
                        {{ insuredEvent.getContract().getCustomer().getName() }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Pojistné plnění</th>
                <td>
                    {{ insuredEvent.getIndemnity() }}
                </td>
            </tr>
            <tr>
                <th>Uzavřeno</th>
                <td>
                    {% if insuredEvent.isClosed() %}
                        ANO
                    {% else %}
                        NE
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Akce</th>
                <td>
                    <a href="{{ path('adminApp.insuredEvent.edit', {
                        'id': insuredEvent.getId()
                    }) }}" class="edit-link">Upravit</a>
                    <a href="{{ path('adminApp.insuredEvent.delete', {
                        'id': insuredEvent.getId()
                    }) }}" class="delete-link action-delete">Smazat</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/adminApp.js') }}" type="text/javascript"></script>
{% endblock %}
