{% extends '@AdminApp/base.html.twig' %}

{% set title = 'Pojistné události' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{title}}</h1>
        </div>
        <div class="card-body">
            {% if insuredEvents.hasItems() %}
                <table class="data-table">
                    <tr>
                        <th>Datum</th>
                        <th>Číslo</th>
                        <th>Klient</th>
                        <th>Pojistné plnění</th>
                        <th>Uzavřeno</th>
                        <th>Akce</th>
                    </tr>
                    {% for insuredEvent in insuredEvents.getItems() %}
                        <tr>
                            <td>
                                {{ insuredEvent.getEventDate() | date('j. n. Y') }}
                            </td>
                            <td>
                                {{ insuredEvent.getIdentifier() }}
                            </td>
                            <td>
                                <a href="{{ path('adminApp.customer.detail', {
                                    'id': insuredEvent.getContract().getCustomer().getId()
                                }) }}">
                                    {{ insuredEvent.getContract().getCustomer().getName() }}
                                </a>
                            </td>
                            <td>
                                {{ insuredEvent.getIndemnity() }}
                            </td>
                            <td>
                                {% if insuredEvent.isClosed() %}
                                    ANO
                                {% else %}
                                    NE
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('adminApp.insuredEvent.detail', {
                                    'id': insuredEvent.getId()
                                }) }}" class="edit-link">Detail</a>
                                <a href="{{ path('adminApp.insuredEvent.edit', {
                                    'id': insuredEvent.getId()
                                }) }}" class="edit-link">Upravit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="notice">Žádná pojistná událost nebyla nalezena.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
