$dark-orange: #a64330;
$light-grey: rgb(242, 240, 240);
$medium-grey: rgb(206, 204, 204);
$dark-grey: rgb(65, 75, 82);
$white: #fff;

$inverse-text-color: $white;

$body-background-color: $light-grey;
$card-background-color: $white;
$text-color: $dark-grey;
