$default-border-radius: 4px;
$base-padding: 24px;

$body-container-width: 1000px;
$menu-item-border-radius: $default-border-radius;
$card-border-radius: $default-border-radius;
$button-line-height: 36px;
$table-line-height: 36px;

$larger-font-size: 130%;
$small-font-size: 85%;
