{% extends '@AdminApp/base.html.twig' %}

{% set title = 'Uživatelé' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Uživatelé</h1>
            <div class="card-header-actions">
                <a href="{{ path('adminApp.user.create') }}" class=" button action-create">
                    Vytvořit uživatele
                </a>
            </div>
        </div>
        <div class="card-body">
            {% if users.hasItems() %}
                <table class="data-table">
                    <tr>
                        <th>Jméno</th>
                        <th>Uživatelské jméno</th>
                        <th>E-mail</th>
                        <th>Role</th>
                        <th>Akce</th>
                    </tr>
                    {% for user in users.getItems() %}
                        <tr>
                            <td>{{ user.getName() }}</td>
                            <td>{{ user.getUserName() }}</td>
                            <td>{{ user.getEmail() }}</td>
                            <td>{{ user.getUserRole() | transEnum }}</td>
                            <td>
                                <a href="{{ path('adminApp.user.edit', {
                                    'userId': user.getId()
                                }) }}" class="edit-link">Upravit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="notice">Žádný uživatel nebyl nalezen</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
